
* {

  box-sizing:border-box;
  margin:0;
  padding:0;

}

html, body {

  height:100%;
  width:100%;

}

body {

  align-content:space-around;
  background-color:#1c3147;
  color:#ffffff;
  display:grid;
  justify-content:center;


}

canvas {

  background-color: #9b9b9b;

}

.title{

  font-size: 2.5vw;
  position: absolute;
  top: 0%;
  left: 19%;
}

.mechanics{
  font-size: 2vw;
  position: absolute;
  top: 10%;
  left: 25%;
  

}

.content{

  font-size: 1.5vw;
  position: absolute;
  top: 15%;
  left: 28%;
  right: 28%

}


.button{

  font-size: 4vw;
  color: rgb(128, 128, 236);

}